@using Entity
@model List<AppRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/GuardLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role List</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Custom CSS -->
    <style>
        .btn {
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover text-right">
                            <thead>
                                <tr>
                                    <th class="text-left"><strong>Roller</strong></th>

                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-left">@item.Name</td>
                                        <td><a href="/Admin/DeleteRole/@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Sil</a></td>
                                        <td><a href="/Admin/UpdateRole/@item.Id" class="btn btn-success"><i class="fas fa-edit"></i> Düzenle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Admin/AddRole/" class="btn btn-primary"><i class="fas fa-plus"></i> Yeni Rol Ekle</a>
                        <a href="/Admin/UserRoleList/" class="btn btn-primary"><i class="fas fa-list"></i> Kullanıcı-Rol Listesi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
